<ion-modal-view class="modal-view legal-view">
    <ion-header-bar>
        <h1 class="title modal-title">Privacy Policy</h1>
        <a class="button button-clear" ng-click="privacy_policy_modal.hide()"><span class="icon ion-close"></span></a>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <div class="privacy-policy">
                    <p>Last modified: April 14, 2014</p>
                    <h4 class="title">Welcome to Go Service!</h4>

                    <p>Thanks for using our products and services (“Services”). Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                        since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <h4 class="title">Using our Services</h4>

                    <p>You must follow any policies made available to you within the Services.</p>

                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                    <h4 class="title">About these Terms</h4>

                    <p>We may modify these terms or any additional terms that apply to a Service to, for example,
                        reflect changes to the law or changes to our Services. You should look at the terms regularly.
                        We’ll post notice of modifications to these terms on this page. We’ll post notice of modified
                        additional terms in the applicable Service. Changes will not apply retroactively and will become
                        effective no sooner than fourteen days after they are posted. However, changes addressing new
                        functions for a Service or changes made for legal reasons will be effective immediately. If you
                        do not agree to the modified terms for a Service, you should discontinue your use of that
                        Service.</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
