.map-view {
  .map-content {
    min-height: calc(100vh - 44px);
    .map {
      height: calc(100vh - 44px);
      width: 100vw;
      .custom-marker {
        padding: 5px;
        background: transparent;
        border-radius: 1px;
        //border: 1px solid $theme-color-1-d;
        text-align: center;
        max-width: 70px;
        img {
          max-width: 35px;
          display:block;
          position: relative;
          margin-left: auto;
          margin-right: auto;
          border-radius: 50%;
          margin-bottom: 3px;

        }
        p {
          font-size: 12px;
          margin: 0;
          word-wrap: normal;
        }
        &:after {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 7px 6px 0;
          border-color: $theme-color-2 transparent;
          display: block;
          width: 0;
          z-index: 1;
          margin-left: -6px;
          bottom: -6px;
          left: 50%;
        }
        &:before {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 7px 6px 0;
          border-color: $theme-color-2 transparent;
          display: block;
          width: 0;
          z-index: 0;
          margin-left: -6px;
          bottom: -7px;
          left: 50%;
        }
      }
    }
    .search-magnifier,
    .search-form {
      box-shadow: 0px 0px 8px -1px #918f91;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      z-index: 2;
      left: 0;
      right: 0;
      background-color: #fff;
      color: $theme-color-6;
    }
    .search-magnifier {
      font-size: 27px;
      padding: 5px 8px;
      top: 10px;
      width: 35px;
      height: 35px;
    }
    .search-form {
      width: 300px;
      height: 0px;
      top: 57px;
      paading-top: 5px;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      h2 {
        font-size: 16px;
        text-align: center;
        color: $theme-color-6;
      }
      select, input {
        height: 30px;
        width: 100%;
      }
      input {
        padding-left: 3px;
      }
      label {
        padding-top: 5px;
        display: block;
      }
      &.is-shown {
        height: 130px;
      }
    }
  }
}