<ion-view class="auth-view" cache-view="false">
    <ion-nav-bar class="view-navigation">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="row form-heading">
            <div class="col">
                <h1 class="form-title">Create your account</h1>

                <h3 class="form-sub-title">Sign up with Social Network or Email</h3>

                <div class="social-sign-up button-bar">
                    <a class="button icon ion-social-facebook button-positive"></a>
                    <a class="button icon ion-social-twitter button-calm"></a>
                </div>
            </div>
        </div>
        <div class="row form-separator">
            <hr class="separator-line"/>
            <span class="separator-mark">OR</span>
            <hr class="separator-line"/>
        </div>
        <div class="row form-wrapper">
            <div class="col">
                <form name="signup_form" class="" novalidate>
                    <p class="message text-info">* required fields</p>
                    <div class="form-fields-outer list list-inset">
                        <div class="row multi-inputs">
                            <div class="col">
                                <label class="item item-input">
                                    <input class="multi-input" type="text" placeholder="First name*" name="firstName"
                                           ng-model="user.name_first" required>
                                </label>
                            </div>
                            <div class="col">
                                <label class="item item-input">
                                    <input class="multi-input" type="text" placeholder="Last Name*" name="lastName"
                                           ng-model="user.name_last" required>
                                </label>
                            </div>
                        </div>
                        <label class="item item-input">
                            <input type="email" placeholder="Email*" name="email" ng-model="user.email" required>
                        </label>

                        <div class="row multi-inputs">
                            <div class="col">
                                <label class="item item-input">
                                    <input type="number" placeholder="Postal code*" name="postalCode"
                                           ng-model="user.postal_code"
                                           ng-pattern="/^(0[289][0-9]{2})|([1345689][0-9]{3})|(2[0-8][0-9]{2})|(290[0-9])|(291[0-4])|(7[0-4][0-9]{2})|(7[8-9][0-9]{2})$/i"
                                           required>
                                </label>
                            </div>
                            <div class="col">
                                <label class="item item-input">
                                    <select placeholder="Select state*" ng-model="user.state" name="state" required>
                                        <option value="" selected>Select state*</option>
                                        <option value="TAS">TAS</option>
                                        <option value="VIC">VIC</option>
                                        <option value="NSW">NSW</option>
                                        <option value="SA">SA</option>
                                        <option value="NT">NT</option>
                                        <option value="ACT">ACT</option>
                                        <option value="WA">WA</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <label class="item item-input" show-hide-container>
                            <input type="password" placeholder="Password*" name="password" ng-model="user.password"
                                   required
                                   ng-pattern="/^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$/i"
                                   show-hide-input>
                        </label>
                        <button type="submit" class="sign-up button button-block" ng-click="doSignUp()"
                                ng-disabled="signup_form.$invalid">
                            Sign Up
                        </button>
                        <div ng-messages="signup_form.firstName.$error" ng-if='signup_form.firstName.$touched'>
                            <p class="message error" ng-message="required">Required* First Name</p>
                        </div>
                        <div ng-messages="signup_form.lastName.$error" ng-if='signup_form.lastName.$touched'>
                            <p class="message error" ng-message="required">Required* Last Name</p>
                        </div>
                        <div ng-messages="signup_form.email.$error" ng-if='signup_form.email.$touched'>
                            <p class="message error" ng-message="required">Required* Email address</p>

                            <p class="message error" ng-message="email">Wrong Email address</p>
                        </div>
                        <div ng-messages="signup_form.postalCode.$error" ng-if='signup_form.postalCode.$touched'>
                            <p class="message error" ng-message="required">Required* Postal Code</p>

                            <p class="message error" ng-message="pattern">Wrong Postal Code</p>
                        </div>
                        <div ng-messages="signup_form.state.$error" ng-if='signup_form.state.$touched'>
                            <p class="message error" ng-message="required">Required* State</p>
                        </div>
                        <div ng-messages="signup_form.password.$error">
                            <p class="message error" ng-message="required" ng-if='signup_form.password.$touched'>
                                Required* Password</p>
                            <p class="message error" ng-message="pattern">Password must contain at least one letter, at
                                least one number, and be longer than 6 charaters.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
