<ion-view class="welcome-view" cache-view="false">
    <ion-nav-bar>
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <!--a class="button button-clear button-light" ui-sref="app.feed">
              Skip
            </a-->
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="top-content row">
            <div class="app-copy col col-center">
                <img class="app-logo" src="img/logo.png" alt="logo"/>
            </div>
        </div>
        <div class="bottom-content row">
            <div class="col">
                <a class="have-account button-large button button-block" ui-sref="welcome-back">
                    Sign In
                </a>
                <a class="facebook-sign-in button-large button button-block" ng-click="facebookSignIn()">
                    Sign In with Facebook
                </a>
                <a class="create-account button-large button button-block" ui-sref="create-account">
                    Create an account
                </a>
                <section ng-include="'views/app/legal/legal-notice.html'"></section>
            </div>
        </div>
    </ion-content>
</ion-view>
