<ion-view class="auth-view" cache-view="false">
    <ion-nav-bar class="view-navigation">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="row form-heading">
            <div class="col">
                <h1 class="form-title">Welcome back</h1>

                <h3 class="form-sub-title">Login to your account to start</h3>

                <div class="social-sign-up button-bar">
                    <a class="button icon ion-social-facebook button-positive"></a>
                    <a class="button icon ion-social-twitter button-calm"></a>
                </div>
            </div>
        </div>
        <div class="row form-separator">
            <hr class="separator-line"/>
            <span class="separator-mark">OR</span>
            <hr class="separator-line"/>
        </div>
        <div class="row form-wrapper">
            <div class="col">
                <form name="login_form" class="" novalidate>
                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input">
                            <input type="email" placeholder="Username" name="username" ng-model="user.username"
                                   required>
                        </label>
                        <label class="item item-input" show-hide-container>
                            <input type="password" placeholder="Password" name="password" ng-model="user.password"
                                   required
                                   ng-pattern="/^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$/i"
                                   show-hide-input>
                        </label>
                        <button type="submit" class="login button button-block" ng-click="doLogIn()"
                                ng-disabled="login_form.$invalid">
                            Login
                        </button>
                        <div ng-messages="login_form.username.$error" ng-if='login_form.username.$touched'>
                            <p class="message error" ng-message="required">Required* Email address</p>

                            <p class="message error" ng-message="email">Wrong Email address</p>
                        </div>
                        <div ng-messages="login_form.password.$error">
                            <p class="message error" ng-message="required" ng-if='login_form.password.$touched'>
                                Required* Password</p>

                            <p class="message error" ng-message="pattern">Password must contain at least one letter, at
                                least one number, and be longer than 6 characters.</p>
                        </div>
                    </div>
                </form>
                <div class="alternative-actions">
                    <a class="forgot-password button button-clear button-block" ng-click="showForgotPassword()">
                        Forgot your password?
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
