<div class="progress-bar" ng-show="progressPercentage > 0 && progressPercentage != 100">
    <div class="bar">
        <span class="progress" ng-style="uploadProgress"></span>

        <p>{{progressPercentage}}%</p>
    </div>
</div>
<ion-view view-title="Create Ad" class="create-ad auth-view">
    <ion-content class="padding">
        <div class="row form-heading">
            <div class="col">
                <h1 class="form-title">Create an Ad form</h1>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col">
                <form name="postAd_form" class="" novalidate>
                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input">
                            <input type="text" placeholder="Title" name="title" ng-model="ad.title" required>
                        </label>
                        <label class="item item-input">
                            <select ng-model="ad.category" name="category">
                                <option value="" selected>Select Category*</option>
                                <option value="{{category}}" ng-repeat="category in categories">{{category}}</option>
                            </select>
                        </label>
                        <label class="item item-input">
                            <textarea type="password" placeholder="Description" name="description"
                                      ng-model="ad.description" required></textarea>
                        </label>
                        <button class="button button-block button-outline icon-left ion-plus-round"
                                ngf-select="openImagePicker($file)"
                                ngf-pattern="'image/*'"
                                ngf-accept="'image/*'"
                                ngf-max-size="20MB"
                                ngf-resize="{width: 800, height: 800, centerCrop: true}">
                            Add Photos
                        </button>
                        <button type="submit" class="sign-up button button-block" ng-click="submitAd()"
                                ng-disabled="postAd_form.$invalid">
                            Submit
                        </button>
                        <div ng-messages="postAd_form.title.$error" ng-if='postAd_form.title.$touched'>
                            <p class="message error" ng-message="required">Required* Title</p>
                        </div>
                        <div ng-messages="postAd_form.category.$error" ng-if='postAd_form.category.$touched'>
                            <p class="message error" ng-message="required">Required* Category</p>
                        </div>
                        <div ng-messages="postAd_form.description.$error" ng-if='postAd_form.description.$touched'>
                            <p class="message error" ng-message="required">Required* Description</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
