<ion-view class="auth-view" view-title="Edit profile">
    <ion-nav-bar class="view-navigation">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="row form-heading">
            <div class="col">
                <h1 class="form-title">Edit your account</h1>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col">
                <form name="edit_form" class="" novalidate>
                    <p class="message text-info">* required fields</p>

                    <div class="form-fields-outer list list-inset">
                        <div class="row multi-inputs">
                            <div class="col">
                                <label class="item item-input">
                                    <input class="multi-input" type="text" placeholder="First name*" name="firstName"
                                           ng-model="user.name_first" required>
                                </label>
                            </div>
                            <div class="col">
                                <label class="item item-input">
                                    <input class="multi-input" type="text" placeholder="Last Name*" name="lastName"
                                           ng-model="user.name_last" required>
                                </label>
                            </div>
                        </div>
                        <label class="item item-input">
                            <input type="email" placeholder="Email*" name="email" ng-model="user.email" required
                                   readonly>
                        </label>

                        <div class="row multi-inputs">
                            <div class="col">
                                <label class="item item-input">
                                    <input type="number" placeholder="Postal code*" name="postalCode"
                                           ng-model="user.postal_code"
                                           ng-pattern="/^(0[289][0-9]{2})|([1345689][0-9]{3})|(2[0-8][0-9]{2})|(290[0-9])|(291[0-4])|(7[0-4][0-9]{2})|(7[8-9][0-9]{2})$/i"
                                           required>
                                </label>
                            </div>
                            <div class="col">
                                <label class="item item-input">
                                    <select placeholder="Select state*" ng-model="user.state" name="state" required>
                                        <option value="" selected>Select state*</option>
                                        <option value="TAS">TAS</option>
                                        <option value="VIC">VIC</option>
                                        <option value="NSW">NSW</option>
                                        <option value="SA">SA</option>
                                        <option value="NT">NT</option>
                                        <option value="ACT">ACT</option>
                                        <option value="WA">WA</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div ng-if="user.worker && !isUndefinedWorker">
                            <label class="item item-input">
                                <select ng-model="user.worker_info.category" name="category" required>
                                    <option value="{{category}}" ng-repeat="category in categories">{{category}}
                                    </option>
                                </select>
                            </label>
                            <label class="item item-input">
                                <input type="text" placeholder="Job Title*" name="jobTitle"
                                       ng-model="user.worker_info.about"
                                       required/>
                            </label>
                            <label class="item item-input">
                                <input type="number" placeholder="Hourly Rate*" name="rate"
                                       ng-model="user.worker_info.hourly_rate"
                                       required/>
                            </label>
                            <label class="item item-input">
                                <textarea placeholder="Cover Letter*" name="cover" ng-model="user.worker_info.cover"
                                          required></textarea>
                            </label>
                        </div>
                        <button type="submit" class="sign-up button button-block" ng-click="doEdit()"
                                ng-disabled="edit_form.$invalid">
                            Edit profile
                        </button>
                        <div ng-messages="edit_form.firstName.$error" ng-if='edit_form.firstName.$touched'>
                            <p class="message error" ng-message="required">Required* First Name</p>
                        </div>
                        <div ng-messages="edit_form.lastName.$error" ng-if='edit_form.lastName.$touched'>
                            <p class="message error" ng-message="required">Required* Last Name</p>
                        </div>
                        <div ng-messages="edit_form.email.$error" ng-if='edit_form.email.$touched'>
                            <p class="message error" ng-message="required">Required* Email address</p>

                            <p class="message error" ng-message="email">Wrong Email address</p>
                        </div>
                        <div ng-messages="edit_form.postalCode.$error" ng-if='edit_form.postalCode.$touched'>
                            <p class="message error" ng-message="required">Required* Postal Code</p>

                            <p class="message error" ng-message="pattern">Wrong Postal Code</p>
                        </div>
                        <div ng-messages="edit_form.state.$error" ng-if='edit_form.state.$touched'>
                            <p class="message error" ng-message="required">Required* State</p>
                        </div>
                        <div ng-if="user.worker && !isUndefinedWorker">
                            <div ng-messages="edit_form.category.$error" ng-if='edit_form.category.$touched'>
                                <p class="message error" ng-message="required">Required* Category</p>
                            </div>
                            <div ng-messages="edit_form.jobTitle.$error" ng-if='edit_form.jobTitle.$touched'>
                                <p class="message error" ng-message="required">Required* Job Title</p>
                            </div>
                            <div ng-messages="edit_form.rate.$error" ng-if='edit_form.rate.$touched'>
                                <p class="message error" ng-message="required">Required* Hourly Rate</p>
                            </div>
                            <div ng-messages="edit_form.cover.$error" ng-if='edit_form.cover.$touched'>
                                <p class="message error" ng-message="required">Required* Cover Letter</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
