<ion-view class="profile-view" cache-view="false" view-title="Profile">
    <!-- <ion-content has-bouncing='false' class="profile-content" delegate-handle="profile-scroll"> -->
    <ion-content class="profile-content" delegate-handle="profile-scroll">
        <!-- <ion-nav-view class="profile-sub-views-outer" name="profileContent"></ion-nav-view> -->
        <ion-nav-view class="profile-details-outer" name="profileContent"></ion-nav-view>
    </ion-content>
</ion-view>
