<div class="progress-bar" ng-show="progressPercentage>0 && progressPercentage!=100">
    <div class="bar">
        <span class="progress" ng-style="uploadProgress"></span>

        <p>{{progressPercentage}}%</p>
    </div>
</div>
<ion-view class="profile-details" view-title="Profile">
    <div class="row profile-details-section">
        <div class="col col-center col-25">
            <!-- We need a wrapper with width set for the preload image directive -->
            <div class="user-image-outer"
                 ngf-select="upload($file)"
                 ngf-pattern="'image/*'"
                 ngf-accept="'image/*'"
                 ngf-max-size="20MB"
                 ngf-resize="{width: 250, height: 250, centerCrop:true}"
                 ng-if="myProfile">
                <pre-img ratio="_1_1" helper-class="rounded-image">
                    <img class="user-image" ng-src="{{user.picture}}"
                         fallback-src="img/sample_images/people/default-profile.jpg" spinner-on-load>
                </pre-img>
            </div>
            <div class="user-image-outer"
                 ng-if="!myProfile">
                <pre-img ratio="_1_1" helper-class="rounded-image">
                    <img class="user-image" ng-src="{{user.picture}}"
                         fallback-src="img/sample_images/people/default-profile.jpg" spinner-on-load>
                </pre-img>
            </div>
        </div>
        <div class="col col-center">
            <div class="row user-details-top">
                <div class="col user-detail-item" ng-if="myProfile">
                    <b class="item-count">0</b>
                    <span class="item-name">Services</span>
                </div>
                <div class="col user-detail-item" ng-if="!myProfile">
                    <b class="item-count">0</b>
                    <span class="item-name">Reviews</span>
                </div>
                <div class="col user-detail-item">
                    <a>
                        <b class="item-count">0</b>
                        <span class="item-name">Hired</span>
                    </a>
                </div>
            </div>
            <div class="row user-details-bottom" ng-if="!myProfile">
                <div class="col col-50 user-action-outer">
                    <a class="button button-small button-block button-outline" ng-click="appointment_modal.show();">
                        <i class="icon ion-ios-calendar-outline"></i> BOOK ME
                    </a>
                </div>
                <div class="col col-50 user-action-outer">
                    <a ui-sref="app.messages({recipientId:user.id,recipient_first:user.name_first, recipient_last:user.name_last, recipient_picture:user.picture})"
                       class="button button-small button-block button-outline">
                        <i class="icon ion-ios-chatbubble"></i> CONTACT ME
                    </a>
                </div>
            </div>
            <div class="row user-details-bottom" ng-if="myProfile">
                <div class="col col-50 user-action-outer">
                    <a class="button button-small button-block button-outline" ui-sref="app.settings">
                        <i class="icon ion-gear-a"></i> SETTINGS
                    </a>
                </div>
                <div class="col col-50 user-action-outer">
                    <a class="button button-small button-block button-outline" ui-sref="app.createAd">
                        <i class="icon ion-plus-round"></i> CREATE AD
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row profile-details-section">
        <div class="col user-info">
            <h4 class="user-name">{{user.name_first}} {{user.name_last}}</h4>

            <p class="user-description" ng-if="user.worker"><b>Position:</b> {{worker.about}}</p>

            <p class="user-description" ng-if="user.worker"><b>Cover Letter:</b><i> {{worker.cover}}</i></p>

            <p class="user-contact">
                <a ng-controller="EmailComposerCtrl" ng-click="sendMail()">
                    <i class="icon ion-email"></i> {{user.username}}
                </a>
            </p>

            <!--p class="user-site" dynamic-anchor-fix>
                <a ng-href="{{user.website}}">{{user.website | cleanUrl}}</a>
            </p-->

            <div class="row">
                <div class="user-rating col col-50">
                    <p><b>Rating :</b></p>

                    <p class="text-italic" ng-if="user.rate == 0 || user.rate==null">Not rated yet</p>
                    <i ng-if="user.rate > 0 && user.rate!=null" class="ion-star" ng-repeat="star in [1,2,3,4,5]"
                       ng-class="{'active' : star <= user.rate}"></i>
                </div>
                <div class="user-rating col col-50" ng-if="user.worker">
                    <p><b>Hourly rate :</b></p>
                    <p>${{worker.hourly_rate}}</p>
                </div>
            </div>
            <div class="row user-details-bottom" ng-if="myProfile">
                <div class="col col-50 user-action-outer" ng-if="!user.worker">
                    <a class="button button-small button-block button-outline" ng-click="register_worker_modal.show()">
                        <i class="icon ion-wrench"></i> REGISTRATION
                    </a>
                </div>
                <div class="col col-50" ng-if="user.worker">
                    <ion-checkbox ng-model="worker.visible"
                                  ng-checked="worker.visible"
                                  ng-change="setVisibleWorker()">
                        Visible in worker list
                    </ion-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="row profile-details-section split-actions">
        <div class="col user-interaction">
            <a class="user-interaction-tab button button-clear button-block" ng-if="myProfile"
               ng-class="{active: ('app.profile.posts' | includedByState)}" nav-transition="none"
               ng-click="getUserPosts()" role="tab">
                <i class="icon ion-document-text"></i> All Posts
            </a>
            <a class="user-interaction-tab button button-clear button-block" ng-if="!myProfile"
               ng-class="{active: ('app.profile.posts' | includedByState)}" nav-transition="none"
               ng-click="getReviews()" role="tab">
                <i class="icon ion-clipboard"></i> Reviews
            </a>
        </div>
        <div class="col user-interaction">
            <a class="user-interaction-tab button button-clear button-block"
               ng-class="{active: ('app.profile.pics' | includedByState)}" nav-transition="none"
               ng-click="getUserPics()" role="tab">
                <i class="icon ion-images"></i> Portfolio
            </a>
        </div>
    </div>
    <ion-nav-view class="profile-sub-views-outer" name="profileSubContent"></ion-nav-view>
</ion-view>
