<ion-view class="profile-posts profile-sub-view" view-title="Profile">
    <div ng-repeat="post in user.posts" class="profile-post-item">
        <section ng-include="'views/app/partials/profile-post-card.html'" class="post-card-outer"></section>
    </div>
</ion-view>
