<ion-modal-view class="modal-view auth-view">
    <ion-header-bar>
        <h1 class="title modal-title">Registration</h1>
        <a class="button button-clear" ng-click="register_worker_modal.hide()"><span class="icon ion-close"></span></a>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row form-heading">
            <div class="col">
                <h1 class="form-title">Worker application form</h1>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col">
                <form name="register_form" class="" novalidate>
                    <p class="message text-info">* required fields</p>

                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input">
                            <select ng-model="me.category" name="category" required>
                                <option value="" selected>Select category*</option>
                                <option value="{{category}}" ng-repeat="category in categories">{{category}}</option>
                            </select>
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Job Title*" name="jobTitle" ng-model="me.about"
                                   required/>
                        </label>
                        <label class="item item-input">
                            <input type="number" placeholder="Hourly Rate*" name="rate" ng-model="me.hourly_rate"
                                   required/>
                        </label>
                        <label class="item item-input">
                            <textarea placeholder="Cover Letter*" name="cover" ng-model="me.cover" required></textarea>
                        </label>
                        <button type="submit" class="sign-up button button-block" ng-click="registerWorker()"
                                ng-disabled="register_form.$invalid">
                            Register
                        </button>
                        <div ng-messages="register_form.category.$error" ng-if='register_form.category.$touched'>
                            <p class="message error" ng-message="required">Required* Category</p>
                        </div>
                        <div ng-messages="register_form.jobTitle.$error" ng-if='register_form.jobTitle.$touched'>
                            <p class="message error" ng-message="required">Required* Job Title</p>
                        </div>
                        <div ng-messages="register_form.rate.$error" ng-if='register_form.rate.$touched'>
                            <p class="message error" ng-message="required">Required* Hourly Rate</p>
                        </div>
                        <div ng-messages="register_form.cover.$error" ng-if='register_form.cover.$touched'>
                            <p class="message error" ng-message="required">Required* Cover Letter</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
