.post-details-view {
  background-color: $post-details-bg;

  .item-divider {
    @include item-style($post-details-divider-bg, darken($post-details-divider-bg, 5%), $post-details-divider-color);
  }

  .post-card-content {
    padding-bottom: 20px;

    a {
      text-decoration: none;
    }

    .trend-callout {
      padding: 8px 10px;
      font-weight: 300;
      font-size: 14px;

      .post-trend-copy {
        display: inline-block;
      }

      .trend-wrapper {
        display: inline-block;
        float: right;
        min-height: 20px;
        line-height: 18px;
        padding: 0px 4px;
        border-radius: 10px;

        @include button-style($post-details-trend-button-bg, $post-details-trend-button-border, $post-details-trend-button-active-bg, $post-details-trend-button-active-border, $post-details-trend-button-text);

        .icon {
          &::before {
            margin: 0px;
            font-size: 14px;
            line-height: 16px;
            vertical-align: middle;
          }

          &:first-child {
            padding-right: 4px;
          }

          &:last-child {
            padding-left: 4px;
          }
        }
      }
    }

    .item-body {
      padding: $post-details-padding;
      border-bottom: none;
      margin-bottom: 0px;
    }

    .post-title {
      margin: 0px;
      font-size: 22px;
      font-weight: 200;
      text-transform: capitalize;
      color: $post-details-color;
    }

    // $item-avatar-width is an ionic sass variable
    .item-avatar {
      padding: 0px $post-details-padding $post-details-padding ($item-avatar-width + $post-details-padding*2);
      border-top: none;
      border-bottom: none;
      margin-top: 0px;
      min-height: ($item-avatar-width + $post-details-padding);

      .card-avatar-image-outer {
        width: $item-avatar-width;
        position: absolute;
        top: 0px;
        left: $post-details-padding;

        img {
          max-width: $item-avatar-width;
          max-height: $item-avatar-width;
          width: 100%;
          height: 100%;
          border-radius: 2px;
        }
      }
    }

    .avatar-title {
      font-size: 14px;
      color: $post-details-color;
    }

    .avatar-description {
      font-size: 12px;
      color: rgba($post-details-color, .6);
    }

    .post-category {
      position: absolute;
      right: 0px;
      bottom: $post-details-padding;
      border-radius: 2px 0px 0px 2px;
      padding: 1px $post-details-padding;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      max-width: 160px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .post-description-outer {
      border: none;
    }

    .post-description {
      margin-top: 0px;
    }

    .item-image,
    .item-divider {
      display: block;
    }
  }

  .bar-footer {
    padding-top: 0px;
    padding-bottom: 0px;

    background-color: $post-details-footer-bg;
    color: $post-details-footer-color;
    border-top: 1px solid darken($post-details-footer-bg, 5);
    background-image: none !important;

    .row {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .actions-col {
      padding: 0px;
      padding-right: 5px;

      .button.button-icon {
        padding-right: 8px;
        color: rgba($post-details-footer-color, .85);

        &:first-child {
          padding-left: 0px;
        }

        &::before {
          font-size: 22px;
          line-height: 28px;
        }
      }

      .button + .button:last-child {
        right: initial;
      }

      .selected-action {
        &::before {
          color: $post-details-active-color;
        }
      }
    }

    .brief-col {
      padding: 0px;
      padding-left: 5px;

      // $bar-footer-height is an ionic variable
      .actions-brief {
        font-size: 12px;
        font-weight: 300;
        text-align: right;
        max-height: $bar-footer-height;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
