<div class="multi-bg-outer" ng-class="{ 'finish-loading': loaded }">
    <img bg class="multi-bg {{ helperClass }}" ng-src="{{ bg_img }}"/>
    <span class="bg-overlay"></span>
    <ion-spinner ng-show="!loaded" class="spinner-on-load"></ion-spinner>
    <!-- <span ng-show="!loaded" class="spinner-on-load ion-load-c"></span> -->
    <ng-transclude></ng-transclude>
</div>
