<div class="pre-img {{ratio}} {{ helperClass }}" ng-class="{ 'finish-loading': loaded }">
    <!--ion-spinner ng-show="!loaded" class="spinner-on-load ion-load-c"></ion-spinner-->
    <span ng-show="!loaded" class="spinner-on-load ion-load-c"></span>
    <span ng-show="!layer_loaded" class="spinner-layer"></span>
    <ng-transclude></ng-transclude>
</div>
