<div class="show-hide-input" ng-transclude>
</div>
<a class="toggle-view-anchor" on-touch="toggleType($event)">
    <span class="ion-eye-disabled" ng-show="show"></span>
    <span class="ion-eye" ng-show="!show"></span>
</a>
