<ion-view class="feed-view people-view conversations-view" view-title="Conversations" cache-view="false">
    <ion-content>
        <!-- Refresh to get the new posts -->
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getNewData()"></ion-refresher>

        <div class="feed-cards-outer">
            <div ng-if="conversations.length > 0" ng-repeat="conversation in conversations" class="post-card-outer">
                <section ng-include="'views/app/partials/feed-conversation-card.html'"></section>
            </div>
            <div ng-if="conversations.length==0" class="row row-center empty-feed-outer">
                <div class="col">
                    <i class="empty-feed-icon icon ion-sad-outline"></i>

                    <h2 class="empty-feed-text">No Conversations here</h2>
                </div>
            </div>
        </div>
        <!-- Infinit scroll -->
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()"
                             on-infinite="loadMoreData()"
                             immediate-check="false"
                             distance="2%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
