<ion-view class="feed-view">
    <ion-nav-title><span>Ads</span></ion-nav-title>
    <ion-content>
        <!-- Refresh to get the new posts -->
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getNewData()"></ion-refresher>
        <div class="empty-feed-outer">
            <h2 class="empty-feed-text filter-title">Filter Ads</h2>
        </div>
        <div class="card new-post">
            <div class="row">
                <div class="col col-25">
                    <label for="category">Category</label>
                </div>
                <div class="col col-75">
                    <select id="category" ng-model="category" ng-change="filterAds(category)">
                        <option value="" selected>All</option>
                        <option value="{{categorie}}" ng-repeat="categorie in categories">{{categorie}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col col-25">
                    <label for="position">Keywords</label>
                </div>
                <div class="col col-75">
                    <input placeholder="All" id="position" type="text"
                           ng-model="position"
                           ng-change="filterAds(category,position)"
                           ng-model-options="{debounce: 1000}"/>
                </div>
            </div>
        </div>
        <div class="feed-cards-outer">
            <div ng-if="cards.length > 0" ng-repeat="card in cards" class="post-card-outer">
                <section ng-include="'views/app/partials/feed-post-card.html'"></section>
            </div>
            <div ng-if="cards.length == 0" class="row row-center empty-feed-outer">
                <div class="col">
                    <i class="empty-feed-icon icon ion-sad-outline"></i>

                    <h2 class="empty-feed-text">No posts here</h2>
                </div>
            </div>
        </div>

        <!-- Infinit scroll -->
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()"
                             immediate-check="false"
                             on-infinite="loadMoreData()"
                             distance="2%"></ion-infinite-scroll>

    </ion-content>
</ion-view>
