<ion-view class="message-view" view-title="{{title}}">
    <div class="message-input-set">
        <input id="message" type="text" ng-model="text" placeholder="your message"/>
        <button ng-click="sendMessage()"><i class="icon ion-paper-airplane"></i></button>
    </div>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getNewData()"></ion-refresher>
        <div class="messages-wrapper">
            <div ng-repeat="message in messages" class="message-row" ng-class="{'sender' : message.sender_id!=me.id}">
                <img ng-src="{{recipient_picture}}"
                     ng-if="message.sender_id!=me.id && recipient_picture!=null"
                     ui-sref="app.profile.posts({userId: message.sender_id})"
                     alt="recipient profile image"
                        />

                <div class="message">
                    <p>{{message.message}}</p>
                </div>
                <span am-time-ago="message.created_at"></span>
            </div>
        </div>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()"
                             on-infinite="loadMoreData()"
                             immediate-check="false"
                             distance="2%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
