<ion-view class="feed-view people-view" view-title="Workers">
    <ion-content>
        <!-- Refresh to get the new posts -->
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getNewData()"></ion-refresher>

        <div class="empty-feed-outer">
            <h2 class="empty-feed-text filter-title">Filter workers</h2>
        </div>
        <div class="card new-post worker-filter">
            <div class="row">
                <div class="col col-25">
                    <label for="category">Category</label>
                </div>
                <div class="col col-75">
                    <select id="category" ng-model="req_params.category" ng-change="filterWorkers()">
                        <option value="" selected>All</option>
                        <option value="{{category}}" ng-repeat="category in categories">{{category}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col col-25">
                    <label for="position">Position</label>
                </div>
                <div class="col col-75">
                    <input placeholder="All" id="position" type="text"
                           ng-model="req_params.position"
                           ng-change="filterWorkers()"
                           ng-model-options="{debounce: 1000}"/>
                </div>
            </div>
            <div class="row">
                <div class="col col-25">
                    <label for="rating">Ratings</label>
                </div>
                <div class="col col-75">
                    <select id="rating" ng-model="req_params.rating" ng-change="filterWorkers()">
                        <option value="" selected>All</option>
                        <option value="{{rating}}" ng-repeat="rating in [1,2,3,4,5]">{{rating}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="feed-cards-outer">
            <div ng-if="workers.length > 0" ng-repeat="worker in workers" class="post-card-outer">
                <section ng-include="'views/app/partials/feed-worker-card.html'"></section>
            </div>
            <div ng-if="workers.length==0" class="row row-center empty-feed-outer">
                <div class="col">
                    <i class="empty-feed-icon icon ion-sad-outline"></i>
                    <h2 class="empty-feed-text">No Worker here</h2>
                </div>
            </div>
        </div>

        <!-- Infinit scroll -->
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()"
                             on-infinite="loadMoreData()"
                             immediate-check="false"
                             distance="2%"></ion-infinite-scroll>

    </ion-content>
</ion-view>
