.new-status-post-view {
  background: $create-post-bg;

  ion-content {
    .scroll {
      height: 100%;
    }
  }

  .audience-outer {
    height: $create-post-audience-height;
    padding: 20px 3px;

    .col {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    // $card-box-shadow is an ionic variable
    .list.post-audience {
      margin: 0px;
      box-shadow: $card-box-shadow;
    }

    .select-box {
      border: 0px;
      color: $create-post-color;
      padding-bottom: 6px;

      .input-label {
        color: $create-post-color;
        font-size: 14px;
      }

      .audience-select {
        color: $create-post-color;
      }

      .audience-icon {
        margin: 0px 6px 0px 20px;
        color: $create-post-active-color;
      }

      .selected-audience {
        text-transform: capitalize;
        color: $create-post-active-color;
      }
    }
  }

  .post-creation {
    @include calc(height, "100% - #{$create-post-audience-height}");
    margin: 0px;
    padding: 0px 3px 5px;

    .col {
      padding-top: 0px;
    }

    .row {
      padding: 0px;
    }

    .post-text {
      box-shadow: $card-box-shadow;
      padding: 10px;
      background: $create-post-textarea-bg;
      margin-bottom: 20px;
    }

    .usr-img-wrapper {
      max-width: 45px;
      padding-left: 0px;
      padding-bottom: 0px;
    }

    .textarea-outer {
      padding-right: 0px;
      padding-bottom: 0px;

      .location-outer {
        padding: 0px 8px;
        color: $create-post-color;

        b {
          color: $create-post-color-strong;
        }

        .col {
          padding: 0px;
        }
      }
    }

    .avatar-image img {
      width: 100%;
      border-radius: 2px;
    }

    .textarea-wrapper {
      height: 100%;
      margin: 0px;

      .col {
        padding: 0px;
      }

      textarea {
        min-height: 60px;
        padding: 8px;
        width: 100%;
        height: 100%;
        resize: none !important;
        color: $create-post-color;
      }
    }

    .post-images-outer {
      margin-bottom: 20px;
    }

    .post-images-wrapper {
      padding: 0px;

      .post-image {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0px;
        }

        .row,
        .col {
          padding: 0px;
        }

        .col {
          position: relative;
        }

        .item-image {
          border: none;
          margin: 0px;
        }

        .remove-image-btn {
          position: absolute;
          top: 5px;
          right: 5px;
          z-index: 9;
          text-shadow: 0 1px 2px rgba($create-post-color-strong, .8);
        }
      }
    }

    .add-photos-outer {
      margin: 0px;

      .col {
        padding: 0px;
      }

      .button {
        margin: 0px;

        @include button-outline($create-post-active-color);
      }
    }
  }

  .bar-footer {
    background-color: $create-post-footer-bg;
    color: $create-post-footer-color;
    border-top: 1px solid darken($create-post-footer-bg, 5);
    background-image: none !important;

    .button.button-icon {
      padding-right: 20px;
    }

    .button + .button:last-child {
      right: initial;
    }

    .selected-action {
      &::before {
        color: $create-post-active-color;
      }
    }
  }
}
