// Individual icons
.icon-chat {
  &:before {
    content: $icon-chat;
  }
}

.icon-rock-n-roll {
  &:before {
    content: $icon-rock-n-roll;
  }
}

.icon-thumb-up {
  &:before {
    content: $icon-thumb-up;
  }
}

.icon-thumb-up2 {
  &:before {
    content: $icon-thumb-up2;
  }
}

.icon-bubble {
  &:before {
    content: $icon-bubble;
  }
}

.icon-like {
  &:before {
    content: $icon-like;
  }
}

.icon-megaphone {
  &:before {
    content: $icon-megaphone;
  }
}

.icon-message {
  &:before {
    content: $icon-message;
  }
}

.icon-export-outline {
  &:before {
    content: $icon-export-outline;
  }
}

.icon-upload-outline {
  &:before {
    content: $icon-upload-outline;
  }
}

.icon-message-typing {
  &:before {
    content: $icon-message-typing;
  }
}

.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up;
  }
}

.icon-messages {
  &:before {
    content: $icon-messages;
  }
}

.icon-chat2 {
  &:before {
    content: $icon-chat2;
  }
}

.icon-chat-2 {
  &:before {
    content: $icon-chat-2;
  }
}

.icon-chat-3 {
  &:before {
    content: $icon-chat-3;
  }
}

.icon-comment {
  &:before {
    content: $icon-comment;
  }
}

.icon-bullhorn {
  &:before {
    content: $icon-bullhorn;
  }
}

.icon-share {
  &:before {
    content: $icon-share;
  }
}
