<div class="card-1">
    <div class="list card">
        <div class="item item-image">
            <a class="card-image-anchor" ui-sref="app.post({ postId: card.id })">
                <pre-img ratio="_8_5" helper-class="main-image">
                    <img ng-src="{{ card.picture }}" spinner-on-load>
                </pre-img>
            </a>
        </div>
        <div class="item item-body">
            <a ui-sref="app.post({ postId: card.id })">
                <h2 class="card-title">{{ card.title }}</h2>
            </a>
        </div>
        <div class="item item-avatar">
            <div class="card-avatar-image-outer">
                <a ui-sref="app.post({ postId: card.id })">
                    <pre-img ratio="_1_1" helper-class="avatar-image">
                        <img ng-src="{{ card.user.picture }}"
                             fallback-src="img/sample_images/people/default-profile.jpg" spinner-on-load>
                    </pre-img>
                </a>
            </div>
            <a ui-sref="app.post({ postId: card.id })">
                <h2 class="avatar-title">Posted by {{ card.user.name_first }} {{ card.user.name_last }}</h2>
            </a>

            <p class="avatar-description" ui-sref="app.post({ postId: card.id })">Posted <span
                    am-time-ago="card.created_at"></span></p>

            <p class="avatar-description" ui-sref="app.post({ postId: card.id })">{{card.user.postal_code}}
                {{card.user.state}}</p>
            <a ui-sref="app.post({ postId: card.id })">
                <span class="card-tag post-category {{ card.category.name }}">{{ card.category }}</span>
            </a>
        </div>
    </div>
</div>
