<div class="card-1">
    <div class="list card">
        <div class="item item-avatar" ui-sref="app.messages({recipientId: conversation.recipient_id,
                                                             recipient_first: conversation.recipient_name_first,
                                                             recipient_last: conversation.recipient_name_last,
                                                             recipient_picture: conversation.recipient_picture})">
            <div class="card-avatar-image-outer">
                <a>
                    <pre-img ratio="_1_1" helper-class="avatar-image">
                        <img ng-src="{{ conversation.recipient_picture }}" spinner-on-load>
                    </pre-img>
                </a>
            </div>
            <a>
                <h2 class="avatar-title">{{ conversation.recipient_name_first }} {{ conversation.recipient_name_last
                    }}</h2>
            </a>

            <p class="avatar-description"><span am-time-ago="conversation.created_at"></span></p>
            <span class="conversation-tag" ng-show="conversation.new_messages || conversation.new_messages > 0">{{conversation.new_messages}}</span>
        </div>
    </div>
</div>
