<div class="card-1">
    <div class="list card">
        <div class="item item-image" ui-sref="app.profile.posts({userId: worker.user.id})">
            <a class="card-image-anchor">
                <pre-img ratio="_8_5" helper-class="main-image">
                    <img ng-src="{{ worker.user.picture }}" spinner-on-load>
                </pre-img>
            </a>
        </div>
        <div class="item item-body" ui-sref="app.profile.posts({userId: worker.user.id})">
            <a>
                <h2 class="card-title">{{ worker.about }}</h2>
            </a>
        </div>
        <div class="item item-avatar" ui-sref="app.profile.posts({userId: worker.user.id})">
            <div class="card-avatar-image-outer">
                <a>
                    <pre-img ratio="_1_1" helper-class="avatar-image">
                        <img ng-src="{{ worker.user.picture }}" spinner-on-load>
                    </pre-img>
                </a>
            </div>
            <a>
                <h2 class="avatar-title">{{ worker.user.name_first }} {{ worker.user.name_last }}</h2>
            </a>

            <p class="avatar-description"><span am-time-ago="worker.created_at"></span></p>
            <a>
                <span class="card-tag post-category {{ worker.category }}">{{ worker.category }}</span>
            </a>
        </div>
        <div class="actions-brief col-50">
            <div class="user-rating">
                <a class="subdued">Ratings: </a>
                <a class="subdued" ng-if="worker.user.rate==null">Not rated yet</a>
                <i ng-if="worker.user.rate!=null" class="ion-star"
                   ng-repeat="star in [1,2,3,4,5]"
                   ng-class="{'active' : star <= worker.user.rate}"></i>
            </div>
        </div>
        <div class="item tabs tabs-icon-left">
            <a class="tab-item" ng-controller="CommentsCtrl" ng-click="showComments(card)">
                <i class="icon theme-icon icon-bubble"></i>Reviews
            </a>
            <a class="tab-item" ui-sref="app.map({workerId: worker.id})">
                <i class="icon theme-icon ion-location"></i>{{worker.distance}}
            </a>
        </div>
    </div>
</div>
