<ion-modal-view class="view-image">
    <ion-content>
        <i class="close icon ion-close" ng-click="closeImage()"></i>

        <div class="view-image-container">
            <img ng-src="{{post.picture}}" alt="post preview image" fallback-src="img/default-image.png"/>
        </div>
    </ion-content>
</ion-modal-view>
