.browse-view {
  background: $browse-bg;

  .item-divider {
    @include item-style($browse-divider-bg, darken($browse-divider-bg, 5%), $browse-divider-color);
  }

  .trend-item {
    height: $browse-trend-items-height;
    border-bottom: 1px solid $browse-trend-border-color;
    margin: 2*$browse-items-padding;

    .trend-anchor {
      text-decoration: none;
    }

    // &.multi-bg-outer
    .multi-bg-outer {
      .bg-overlay {
        // Permalink - use to edit and share this gradient:
        // http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density
        @include background-image(linear-gradient(left, $browse-trend-bg-from 0%, $browse-trend-bg-to 100%));
        background-color: transparent;
      }

      ion-spinner.spinner-on-load {
        right: 16px;
        left: initial;
      }
    }

    .trend-title {
      margin: 0px;
      height: $browse-trend-items-height;
      line-height: $browse-trend-items-height;
      padding: 0px 16px;
      font-weight: 200;
      color: $browse-trend-color;
      font-size: 30px;
      text-shadow: 0 1px 2px rgba($browse-trend-shadow-color, .4);
    }
  }

  .categories-outer {
    @include flex-wrap(wrap);
    padding: $browse-items-padding;

    .category-item-outer {
      padding: $browse-items-padding;
    }
  }

  .category-item-wrapper {
    // This is how we get the 1x1 aspect ratio as padding is calculated based on width => (height = padding-top = 100% width)
    padding-top: 100%;
    height: 0px;
    position: relative;

    .category-item-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
    }

    .category-title {
      font-weight: 600;
      text-transform: uppercase;
      color: $browse-category-color;
      font-size: 14px;
      text-align: center;
      text-shadow: 0 1px 2px rgba($browse-category-shadow-color, .4);
      border-top: 1px solid $browse-category-border-color;
      border-bottom: 1px solid $browse-category-border-color;
      padding: 0px;
      margin: 0px;
      position: absolute;
      width: 80%;
      left: 10%;
      @include calc(top, "50% - #{($browse-category-title-height/2)}");
      height: $browse-category-title-height;
      line-height: $browse-category-title-height;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
