.auth-view {
  background-image: url('../img/landing-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  ion-nav-bar {
    * {
      color: $auth-color;

      .buttons button::before {
        color: $auth-color;
      }
    }
  }

  .bar-header .button .ion-close {
    color: $theme-color-1;
  }

  ion-header-bar {
    background-color: transparent !important;
    border: none !important;
    background-size: 0px !important; // To remove bottom border on header
  }

  .form-heading {
    height: 20%;
  }

  .form-separator,
  .form-heading,
  .header-item,
  .alternative-actions {
    * {
      color: $theme-color-1 !important;
    }
  }

  .text-info {
    color: $theme-color-1 !important;
  }

  .form-separator {
    padding: 0px 10px;
    margin: 10px 0px;
    .separator-line {
      border-top: 1px solid $theme-color-1;
    }
  }

  .form-wrapper {
    min-height: 80%;
    margin: 0px;

    input {
      &::-webkit-input-placeholder {
        color: lighten($auth-color, 40%);
      }
    }
  }

  // Form heading
  .form-title {
    color: $auth-color;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }

  .form-sub-title {
    text-align: center;
    color: lighten($auth-color, 30%);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .social-sign-up {
    &.button-bar > .button:before {
      font-size: 28px;
    }

    &.button-bar > .button:first-child {
      border-radius: 6px 0px 0px 6px;
    }

    &.button-bar > .button:last-child {
      border-radius: 0px 6px 6px 0px;
    }

    .ion-social-facebook {
      @include button-style($button-facebook-bg, $button-facebook-border, $button-facebook-active-bg, $button-facebook-active-border, $button-facebook-text);
    }

    .ion-social-twitter {
      @include button-style($button-twitter-bg, $button-twitter-border, $button-twitter-active-bg, $button-twitter-active-border, $button-twitter-text);
    }
  }

  // Form separator
  .separator-mark {
    width: $separator-mark-width;
    height: $separator-mark-height;
    line-height: $separator-mark-height;
    text-align: center;
    color: lighten($auth-color, 40%);
    font-size: 16px;
  }

  .separator-line {
    @include calc(width, "50vw - #{($separator-mark-width/2)}");
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(lighten($auth-color, 40%), 0.8);
    padding: 0;
    margin: ($separator-mark-height/2) 0px;
  }

  // Form wrapper
  .form-fields-outer {
    margin: 0px;
    background-color: transparent;

    .row,
    .col {
      padding: 0px;
    }

    .multi-inputs {
      .col {
        .item.item-input {
          border-radius: 0px;
        }

        &:first-child .item.item-input {
          border-right: none;
        }
      }

      // First multi-inputs row
      &:first-child {
        .col:first-child {
          .item.item-input {
            border-top-left-radius: 2px;
          }
        }

        .col:last-child {
          .item.item-input {
            border-top-right-radius: 2px;
          }
        }
      }

      .item.item-input {
        .multi-input {
          padding-right: 16px;
        }
      }
    }

    .login.button,
    .sign-up.button,
    .recover-password {
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  .alternative-actions {
    margin-top: 20px;

    .button {
      color: lighten($auth-color, 30%);
      font-size: 16px;
    }
  }

  // Show/Hide password
  .show-hide-input {
    display: inherit;
    width: 100%;
  }
  .toggle-view-anchor {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    right: 0px;
    height: $line-height-computed + $font-size-base;
    line-height: $line-height-computed + $font-size-base;
    padding-right: 8px;

    * {
      color: darken($auth-bg, 20%) !important;
      display: block;
      font-size: 24px;
      width: 45px;
      text-align: center;
      font-weight: 500;
    }
  }
}
