.welcome-view {
  background-image: url('../img/landing-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  ion-nav-bar {
    * {
      color: $welcome-color;

      .buttons button::before {
        color: $welcome-color;
      }
    }
  }

  ion-header-bar {
    background-color: transparent !important;
    background: transparent !important;
    border: none !important;
    background-size: 0px !important; // To remove bottom border on header
  }

  ion-content {
    top: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .multi-bg-outer {
    z-index: 0;
  }

  .app-logo {
    max-width: 200px;
    height: auto;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .top-content,
  .bottom-content {
    height: auto;
  }

  .top-content {

    .app-copy {
      text-align: center;
      padding-top: 0%;
    }

    .app-logo {
      font-size: 50px;
      font-family: cursive;
      font-weight: 600;
      font-style: italic;
      color: $welcome-color;
    }

    .app-tagline {
      font-size: 16px;
      margin-top: 20px;
      color: rgba(darken($welcome-color, 10%), 0.8);
    }
  }

  .bottom-content {
    margin: 0px;

    .facebook-sign-in,
    .create-account,
    .have-account {
      border-radius: 4px;
      margin: 10px 12vw;
      font-size: 18px;
    }

    .facebook-sign-in,
    .dont-have-facebook,
    .create-account,
    .have-account {
      margin-bottom: 20px;
    }

    .facebook-sign-in {
      color: $theme-color-1;
      background-color: rgba($welcome-facebook-sign-in-bg, .98);
      border-color: rgba(darken($welcome-facebook-sign-in-bg, 1), .9);
    }

    .create-account {
      color: $theme-color-1;
      background-color: rgba($welcome-create-account-bg, .98);
      border-color: rgba(darken($welcome-create-account-bg, 1), .9);
    }

    .have-account {
      color: $theme-color-1;
      background-color: $theme-color-5;
      border-color: darken($theme-color-5, 1);
    }

    .dont-have-facebook {
      color: rgba(darken($welcome-color, 10%), 0.8);
      font-size: 16px;
    }

    .legal-notice {
      color: rgba(darken($welcome-color, 10%), 0.8);
      margin: 10px 12vw;
      text-align: center;

      a {
        text-decoration: none;
        font-weight: 600;
        color: $welcome-color;
      }
    }
  }
}
