.feed-view {
  background-color: $cards-list-bg;

  &.filtered-feed {
    @include background-image(linear-gradient(top, $filtered-feed-header-bg-from 0%, $filtered-feed-header-bg-from 50%, $cards-list-bg 50%, $cards-list-bg 100%));

    .ionic-refresher-content {
      color: $filtered-feed-header-title-color;

      ion-spinner {
        stroke: $filtered-feed-header-title-color;
      }
    }
  }

  .filtered-feed-header-outer {
    height: 200px;
    padding: 0px;

    .filtered-feed-header {
      padding: 0px;
      height: 100%;

      .multi-bg-outer {
        background-color: $filtered-feed-header-bg-from;

        .bg-overlay {
          @include background-image(linear-gradient(top, $filtered-feed-header-bg-from 0%, rgba($filtered-feed-header-bg-from, .8) 35%, $filtered-feed-header-bg-to 100%));
          background-color: transparent;
          opacity: 1;
        }
      }

      .header-title {
        text-align: center;
        color: $filtered-feed-header-title-color;
        font-size: 16px;
        text-shadow: 0 1px 2px rgba($filtered-feed-header-title-shadow-color, .4);
        text-transform: uppercase;
        margin: 0px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 16px 0px;
      }
    }

    .filtered-feed-header-content {
      height: 100%;
    }
  }

  .feed-cards-outer {
    background-color: $cards-list-bg;
    @include calc(min-height, "(100vh - (200px + #{$bar-height}))");
  }

  .empty-feed-outer {
    min-height: inherit;
    text-align: center;
    font-weight: 500;
    color: rgba($empty-feed-color-light, .3);

    .empty-feed-text {
      color: rgba($empty-feed-color-light, .3);
      margin: 20px 40px 60px 40px;
      font-size: 28px;
      font-weight: 300;
    }

    .filter-title {
      margin: 20px 40px;
    }

    .empty-feed-icon {
      font-size: 90px;
    }
  }
}
