<ion-modal-view class="modal-view auth-view">
    <ion-header-bar>
        <h1 class="title modal-title">Appointment</h1>
        <a class="button button-clear" ng-click="appointment_modal.hide()"><span class="icon ion-close"></span></a>
    </ion-header-bar>
    <ion-content class="padding" ng-controller="BookAppointmentCtrl">
        <div class="row form-heading">
            <div class="col">
                <h1 class="form-title">Appointment booking form</h1>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col">
                <form name="register_form" class="" novalidate>
                    <p class="message text-info">* required fields</p>

                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input">
                            <input type="text" placeholder="Booking Title*" name="title" ng-model="req.title"
                                   required/>
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Booking Address*" name="address" ng-model="req.address"
                                   required/>
                        </label>

                        <div class="row multi-inputs">
                            <div class="col">
                                <label class="item item-input">
                                    <input class="multi-input" type="date" placeholder="Booking Date*" name="date"
                                           ng-model="date"
                                           min-date
                                           required>
                                </label>
                            </div>
                            <div class="col">
                                <label class="item item-input">
                                    <input class="multi-input" type="time" placeholder="Booking Time*" name="time"
                                           ng-model="time"
                                           required>
                                </label>
                            </div>
                        </div>
                        <label class="item item-input">
                            <textarea placeholder="Booking details*" name="detail" ng-model="req.detail"
                                      required></textarea>
                        </label>
                        <button type="submit" class="sign-up button button-block" ng-click="book()"
                                ng-disabled="register_form.$invalid">
                            Book
                        </button>
                        <div ng-messages="register_form.title.$error" ng-if='register_form.title.$touched'>
                            <p class="message error" ng-message="required">Required* Title</p>
                        </div>
                        <div ng-messages="register_form.address.$error" ng-if='register_form.address.$touched'>
                            <p class="message error" ng-message="required">Required* Address</p>
                        </div>
                        <div ng-messages="register_form.detail.$error" ng-if='register_form.detail.$touched'>
                            <p class="message error" ng-message="required">Required* Detail</p>
                        </div>
                        <div ng-messages="register_form.date.$error" ng-if='register_form.date.$touched'>
                            <p class="message error" ng-message="required">Required* Date</p>

                            <p class="message error" ng-message="min">Date has to be greater than today</p>
                        </div>
                        <div ng-messages="register_form.time.$error" ng-if='register_form.time.$touched'>
                            <p class="message error" ng-message="required">Required* Time</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
