<ion-view class="bookings-view" view-title="Bookings">
    <ion-content class="bookings-content has-footer" delegate-handle="bookings-scroll">
        <ion-nav-view class="booking-details-outer" name="bookingContent"></ion-nav-view>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="buttons row">
            <button class="button footer-btn col-33"
                    ui-sref-active="active"
                    ui-sref="app.bookings.clients">
                <i class="menu-icon icon ion-ios-people"></i>
                <span>Clients</span>
            </button>
            <button class="button  footer-btn col-33"
                    ui-sref-active="active"
                    ui-sref="app.bookings.services">
                <i class="menu-icon icon ion-android-subway"></i>
                <span>Services</span>
            </button>
            <button class="button footer-btn col-33"
                    ui-sref-active="active"
                    ui-sref="app.bookings.transactions">
                <i class="menu-icon icon ion-social-usd"></i>
                <span>Transactions</span>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>