<ion-view view-title="{{post.title}}" class="post-details-view">
    <ion-content overflow-scroll="true">
        <div class="post-card-content">
            <div class="row row-center" ng-if="myProfile">
                <div class="col col-50 user-action-outer">
                    <a class="button button-small button-block button-outline" ng-click="deleteAd(post.id)">
                        <i class="icon ion-minus-circled"></i> DELETE
                    </a>
                </div>
            </div>
            <div class="item item-body">
                <h2 class="post-title">{{post.title}}</h2>
            </div>
            <div class="item item-avatar">
                <div class="card-avatar-image-outer">
                    <a ui-sref="app.profile.posts({userId: post.user_id})">
                        <pre-img ratio="_1_1" helper-class="avatar-image">
                            <img ng-src="{{ post.user.picture }}" spinner-on-load>
                        </pre-img>
                    </a>
                </div>
                <a ui-sref="app.profile.posts({userId: post.user_id})">
                    <h2 class="avatar-title">Posted by: {{ post.user.name_first }} {{ post.user.name_last }}</h2>

                    <h2 class="avatar-title">Posted : <span am-time-ago="post.created_at"></span></h2>

                    <h2 class="avatar-title">Location: {{post.user.postal_code}} {{post.user.state}}</h2>
                </a>
                <p class="avatar-description"><span am-time-ago="post.date"></span></p>
                <a ui-sref="app.category_feed({ categoryId: post.category.id })">
                    <span class="post-category {{ post.category.name }}">{{ post.category }}</span>
                </a>
            </div>
            <div class="item item-body post-description-outer">
                <p class="post-description">{{post.description}}</p>
            </div>
            <div class="item item-image" ng-click="viewImage()">
                <pre-img ratio="_1_1" helper-class="main-image" ng-if="post.picture!=null">
                    <img ng-src="{{post.picture}}" fallback-src="img/default-image.png" spinner-on-load>
                </pre-img>
            </div>
        </div>
    </ion-content>
</ion-view>
