.message-view {
  .scroll {
    min-height: 100%;
  }
  .messages-wrapper {
    display: block;
    position: relative;
    float: left;
    padding: 55px 9px;
    width: 100%;
    span {
      display: block;
      clear: both;
      font-size: 12px;
    }
    .message {
      float: left;
      background-color: lighten($theme-color-3, 40%);
      border-radius: 5px;
      box-shadow: 0 0 6px lighten($theme-color-3, 20%);
      max-width: 75%;
      padding: 10px 18px;
      position: relative;
      vertical-align: top;
      p {
        margin: 0;
      }
    }
    .message-row {
      display: block;
      width: 100%;
      float: left;
      margin-bottom: 15px;
      &.sender {
        .message {
          float: right;
          background-color: lighten($theme-color-7, 40%);
          box-shadow: 0 0 6px lighten($theme-color-7, 20%);
        }
        img {
          width: 35px;
          height: 35px;
          margin-left: 10px;
          float: right;
        }
        span {
          float: right;
          margin-right: 42px;
        }
      }
    }
  }
  .message-input-set {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 44px;
    z-index: 5;
    button {
      border: 0;
      background-color: $theme-color-1-b;
      padding: 7px 12px;
      position: absolute;
      right: 0;
      top: 0;
      height: 42px;
      &.activated {
        background-color: $theme-color-1-c;
      }
      i {
        color: $theme-color-3;
        font-size: 24px;
      }
    }
    input[type="text"] {
      border: 1px solid $theme-color-1-b;
      width: 100%;
      height: 43px;
      padding: 0 44px 0 8px;
    }
  }
}

.notif-tag,
.conversation-tag {
  background-color: $theme-color-5;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
  padding: 1px 8px;
  position: absolute;
  right: 50px;
  top: 0;
}

.conversation-tag {
  right: 10px;
}