doctype
html#ng-app(ng-app='uploads')
    // id="ng-app" IE<8
    head
        title Simple example
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/angular-md5/angular-md5.min.js')
        script(src='bower_components/ngstorage/ngStorage.js')
        script(src='bower_components/angular-file-upload/angular-file-upload.js')
        script(src='dist/ng-image-upload.js')
        script(type='text/javascript')
            | angular.module('uploads')
            | .config(['tokenProvider', function(tokenProvider) {
            | tokenProvider.setUrl('token');
            | }]);

        style.
            .my-drop-zone {
                border: dotted 3px lightgray;
            }

            .nv-file-over {
                border: dotted 3px red;
            }

            .another-file-over-class {
                border: dotted 3px green;
            }

            html, body {
                height: 100%;
            }
    body
        img-upload(queue-limit='1', remove-after-upload='true', method='"POST"')
