<ion-view class="map-view" view-title="Map Search">
    <ion-content class="map-content" delegate-handle="map-scroll">
        <i class="search-magnifier icon ion-ios-search-strong" ng-click="isSearchOpen=!isSearchOpen"
           ng-hide="isSingleView"></i>

        <div class="search-form" ng-class="{'is-shown': isSearchOpen}" ng-hide="isSingleView || !isSearchOpen">
            <div class="row">
                <div class="col col-25">
                    <label for="category">Category</label>
                </div>
                <div class="col col-75">
                    <select id="category" ng-model="worker_params.category" ng-change="filterWorkers()">
                        <option value="" selected>All</option>
                        <option value="{{categorie}}" ng-repeat="categorie in categories">{{categorie}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col col-25">
                    <label for="position">Position</label>
                </div>
                <div class="col col-75">
                    <input placeholder="All" id="position" type="text"
                           ng-model="worker_params.position"
                           ng-change="filterWorkers()"
                           ng-model-options="{debounce: 1000}"/>
                </div>
            </div>
            <div class="row">
                <div class="col col-25">
                    <label for="rating">Ratings</label>
                </div>
                <div class="col col-75">
                    <select id="rating" ng-model="worker_params.rating" ng-change="filterWorkers()">
                        <option value="" selected>All</option>
                        <option value="{{rating}}" ng-repeat="rating in [1,2,3,4,5]">{{rating}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div map-lazy-load="https://maps.google.com/maps/api/js"
             map-lazy-load-params="{{googleMapsUrl}}">
            <ng-map class="map">
                <custom-marker class="custom-marker" id="me"
                               position="[{{my_location.latitude}},{{my_location.longitude}}]" on-click="">
                    <div ui-sref="app.profile.posts({userId: me.id})">
                        <img ng-src="{{me.picture}}" />
                        <p>Me</p>
                    </div>
                </custom-marker>
                <custom-marker ng-if="me.worker_id!=worker.id" class="custom-marker" id="{{worker.id}}"
                               position="[{{worker.lat}},{{worker.lng}}]" on-click="" ng-repeat="worker in workers">
                    <div ui-sref="app.profile.posts({userId: worker.user.id})">
                        <img ng-src="{{worker.user.picture}}"/>

                        <p>{{worker.about}}</p>
                    </div>
                </custom-marker>
            </ng-map>
        </div>
    </ion-content>
</ion-view>