<!DOCTYPE html>
<html ng-app="ngMap">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="script-tags-for-development.js"></script>
<script>
  angular.module('ngMap').run(function($rootScope) {
    $rootScope.address = 'toronto canada';
  });
</script>
</head>

<body>
  <ng-map center="{{address}}"></ng-map>
  <br/>Address : <input ng-model="address" />
</body>
</html>
