.ion-nav-bar,
.ion-modal-view {
  .ion-header-bar {
    background-color: $default-bar-bg !important;
    background: $default-bar-bg !important;
    border: none !important;
    background-size: 0px !important; // To remove bottom border on header

    .title {
      text-transform: capitalize;
    }
  }
}

.ion-nav-bar {
  * {
    color: $default-bar-color;

    .buttons button::before {
      color: $default-bar-color;
    }
  }
}

// Preload images aux styles (ratios)
// Auto generate ratios for the whole app (see: http://stackoverflow.com/a/18120181/1116959)

[class*='.pre-img._'] {
  width: 100%;
}

.pre-img {
  position: relative;
  background-color: $pre-img-bg;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  float: left;

  // If the image is rounded
  &.rounded-image {
    border-radius: 50%;
  }

  &.finish-loading {
    background-color: transparent;
    border: none;

    img {
      visibility: visible;
      opacity: 1;
    }
  }

  img {
    float: left;
    left: 0px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    @include transition(visibility 0s linear, opacity 0.5s linear);
  }
}

// spinner-on-load
@include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(359deg));
  }
}

.spinner-on-load {
  position: absolute;
  font-size: $spinner-size;
  width: $spinner-size;
  height: $spinner-size;
  line-height: $spinner-size;
  color: $spinner-color;
  @include animation(spin 2s infinite linear);
  @include calc(top, "50% - #{($spinner-size/2)}");
  @include calc(left, "50% - #{($spinner-size/2)}");
}

.ion-spinner.spinner-on-load {
  @include animation(none);
  stroke: $spinner-color;
  width: $spinner-svg-size;
  height: $spinner-svg-size;
  line-height: inherit;
  @include calc(top, "50% - #{($spinner-svg-size/2)}");
  @include calc(left, "50% - #{($spinner-svg-size/2)}");
}

// Multimedia background
.multi-bg-outer {
  position: relative;
  background-color: rgba(darken($multi-bg, 10%), 0.7);
  height: 100vh;
  @include transition(all ease-in-out .3s);

  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;

  &.finish-loading {
    background-color: transparent;
  }

  .bg-overlay {
    /*
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $overlay-bg;
    z-index: -1;
    opacity: 0.6;
    */
  }

  .multi-bg {
    display: none;
  }
}

@mixin postCategories($tag, $color) {
  &.#{($tag)} {
    border-color: $color;
    background-color: rgba(lighten($color, 10), .7);
    color: $theme-color-1;
  }
}

.post-category {
  border-right: 2px solid darken($tag-default-bg, 10%);
  background-color: $tag-default-bg;
  color: darken($tag-default-bg, 50%);

  @include postCategories("technology", $tag-2-bg);
  @include postCategories("politics", $tag-1-bg);
  @include postCategories("entertainment", $tag-5-bg);
  @include postCategories("sports", $tag-3-bg);
  @include postCategories("business", $tag-4-bg);
  @include postCategories("world", $tag-6-bg);
  @include postCategories("fashion", $tag-7-bg);
  @include postCategories("art", $tag-8-bg);
  @include postCategories("news", $tag-9-bg);
  @include postCategories("highlights", $tag-10-bg);
}

@mixin cardActionTabs($bg, $color) {
  .item.tabs {
    background-color: $bg;
    color: $color;
    border-top: 1px solid darken($bg, 5) !important;
    height: 36px;
    line-height: 36px;

    .tab-item {
      font-size: 13px;
      opacity: 1;
      color: rgba($color, .85);
      line-height: 35px;

      &.activated {
        color: darken($color, 10);
        font-weight: 500;
      }

      &:last-child {
        border-right: none;
      }

      .icon::before {
        line-height: 40px;
        font-size: 20px;
      }

      .icon {
        margin-top: -4px;

        &.theme-icon {
          margin-top: 0px;
          height: 100%;

          &::before {
            line-height: 35px;
            vertical-align: bottom;
          }
        }
      }
    }
  }
}

.form-wrapper {

  .item.item-input {
    input,
    textarea,
    select {
      padding-right: 0;
      width: 100%;
      font-size: 14px;
      border: 0;
      border-color: transparent;
      background-color: transparent;
    }

    select {
      min-height: 23px;
    }

    input[type='password'] {
      padding-right: 30px;
    }
  }

  .row {
    .col {
      input {
        margin-bottom: 2px;
      }
      select {
        min-height: 23px;
      }
    }
  }




  textarea {
    height: 100px;
  }

  button {
    @include button-style($theme-color-3, $theme-color-3, darken($theme-color-3, 10%), darken($theme-color-3, 10%), $theme-color-1);
  }

  .message {
    color: lighten($auth-color, 40%);
    text-align: left;
    &.error {
      color: $error-color;
      padding: 0 10px;
      font-size: 16px;
      margin-bottom: 5px;
      text-align: center;
      font-weight: bold;
    }
  }

}

.item-checkbox {
  font-size: 13px;
  margin-bottom: 2px;
  color: rgba($profile-user-content-color, .6);
  padding-left: 30px;
  border: 0;
  .checkbox {
    left: -5px;
    margin-top: -18px;
    input {
      width: 20px;
      height: 20px;
    }
  }
  .checkbox-icon {
    width: 20px;
    height: 20px;
    &:after {
      content: ' ';
      width: 10px;
      height: 5px;
    }
  }
}


.bar-header {
  background-colour: color;

  .button {

    .ion-close {
      color: $default-bar-bg;
    }

  }
}

.spinner-on-load {
  z-index: 3;
}

.spinner-layer {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.item-image, .item-avatar, .card {
  position: relative;
  .card-image-anchor {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    .main-image {
      width: 100%;
      height: 100%;
      float: left;
    }
  }
}

.rounded-image, .profile-post-image {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
}

.item-avatar {
  position: relative;
  .avatar-image {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    .spinner-on-load {
      font-size: 25px;
      width: 25px;
      height: 25px;
      line-height: 25px;
      top: calc(50% - 12.5px);
      left: calc(50% - 12.5px);
    }
  }
}

.row-center {
  align-items: center;
  justify-content: center;
}

.scroll-content:not(.map-content) {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  .bar {
    height: 28px;
    width: 94%;
    border-radius: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .progress {
      position: absolute;
      background-color: $theme-color-3;
      border-radius: 500px;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
    }
    p {
      color: black;
      font-size: 14px;
      text-align: center;
      font-weight: bold;
      margin: 0;
      z-index: 10;
    }
  }
}

.view-image {
  background-color: black;
  .close {
    color: white;
    top: 0;
    right: 0;
    padding: 10px 10px 10px 13px;
    width: 50px;
    height: 50px;
    position: absolute;
    font-size: 30px;
  }
  .view-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    img {
      height: auto;
      max-width: 100%;
      display: block;
    }
  }
}

.worker-filter {
  input, select {
    width: 100%;
    height: 30px;
  }
  label {
    display: block;
    padding-top: 5px;
  }
}

