// Images - Preload images
$pre-img-bg: rgba($theme-color-2-d, .25);

// Images - Preload images - Spinner on load
$spinner-size: 50px;
$spinner-svg-size: 28px;
$spinner-color: $theme-color-1;

// Images - Multimedia background
$multi-bg: $theme-color-2-a;
$overlay-bg: $theme-color-2-b;

$loading-color: $theme-color-2-b;
$loading-background-color: $theme-color-1-c;

// App top bar
$default-bar-color: $theme-color-1;
$default-bar-bg: $theme-color-8;

// Tags colors
$tag-1-bg: #ef473a;
$tag-2-bg: #387ef5;
$tag-3-bg: #33cd5f;
$tag-4-bg: #ffc900;
$tag-5-bg: #886aea;
$tag-6-bg: #804515;
$tag-7-bg: #882D60;
$tag-8-bg: #000;
$tag-9-bg: #000;
$tag-10-bg: #000;
$tag-default-bg: #F1F1F1;

$pre-img-ratios: ();
