.bar-footer {
  background-color: $default-bar-bg !important;
  background: $default-bar-bg !important;
  border: none !important;
  background-size: 0px !important; // To remove bottom border on header
  padding: 0;
  height: 65px;
  .buttons {
    padding: 0;

    .button {
      text-align: center;
      width: 100%;
      margin: 0;
      @include button-style($default-bar-bg, $default-bar-bg, darken($default-bar-bg, 6%), darken($default-bar-bg, 6%), $theme-color-1);
      &.active {
        > * {
          color: $theme-color-7;
        }
      }
      .icon, span {
        display: block;
      }
      span {
        line-height: 20px;
      }
    }
  }
}