$theme-color-1: #FFFFFF;
$theme-color-1-a: darken($theme-color-1, 3%);
$theme-color-1-b: darken($theme-color-1, 6%);
$theme-color-1-c: darken($theme-color-1, 12%);
$theme-color-1-d: darken($theme-color-1, 24%);

$theme-color-2: rgba(#000000, .8);
$theme-color-2-a: lighten($theme-color-2, 10%);
$theme-color-2-b: lighten($theme-color-2, 20%);
$theme-color-2-c: lighten($theme-color-2, 40%);
$theme-color-2-d: lighten($theme-color-2, 60%);

// 1 (combo 8)
$theme-color-3: #2B7BF2;
$theme-color-4: #294886;
$theme-color-5: #FF4C4C;
$theme-color-6: #375E97;
$theme-color-7: #FFBB00;
$theme-color-8: #3E454C;
$theme-color-9: #FFBB00;

// 2 (combo 28)
// $theme-color-3: #EE693F;
// $theme-color-4: #294886;
// $theme-color-5: #FF4C4C;
// $theme-color-6: #EE693F;
// $theme-color-7: #739F3D;
// $theme-color-8: #3E454C;
// $theme-color-9: #EE693F;
// 3 (combo 81)
// $theme-color-3: #CE5A57;
// $theme-color-4: #294886;
// $theme-color-5: #FF4C4C;
// $theme-color-6: #CE5A57;
// $theme-color-7: #78A5A3;
// $theme-color-8: #444C5C;
// $theme-color-9: #78A5A3;
// 4 (combo 78)
// $theme-color-3: #008DCB;
// $theme-color-4: #294886;
// $theme-color-5: #FF4C4C;
// $theme-color-6: #FA6E59;
// $theme-color-7: #FFDB5C;
// $theme-color-8: #353C3F;
// $theme-color-9: #FA6E59;
// 5 (combo 93)
// $theme-color-3: #337BAE;
// $theme-color-4: #294886;
// $theme-color-5: #FF4C4C;
// $theme-color-6: #1A405F;
// $theme-color-7: #FFDB5C;// or #FCFCFA
// $theme-color-8: #337BAE;
// $theme-color-9: #337BAE;
