.profile-posts {
  .profile-post-item {
    padding: 10px;
  }

  .card-7 {
    a {
      text-decoration: none;
    }

    .card-image-anchor {
      display: block;
    }

    .card {
      padding: 0px;
      margin: 0px;
    }

    .card-content-wrapper {
      padding: 0px;
      border-radius: 2px;

      .image-wrapper {
        padding: 0px;
        border-radius: 2px 0px 0px 2px;
        @include calc(max-width, "((100vw - 10px)/3) - 10px");
      }
    }

    .profile-post-image {
      .pre-img {
        border-radius: 2px 0px 0px 2px;
      }

      .post-image {
        width: 100%;
        border-radius: 2px 0px 0px 2px;
      }
    }

    .card-data {
      position: relative;
      @include calc(height, "((100vw - 10px)/3) - 10px");
    }

    .card-title-outer {
      display: inline-block;
      // height: 65px;
      overflow: hidden;
      text-overflow: ellipsis;
      @include calc(height, "100% - #{(20px)}");
    }

    .card-title {
      margin: 0px;
      font-size: 18px;
      font-weight: 200;
      text-transform: capitalize;
      color: $card-7-color;
    }

    .actions-brief {
      font-size: 11px;
      font-weight: 300;
      position: absolute;
      bottom: 5px;
      text-align: left;
      height: 20px;
      @include calc(width, "100% - #{(10px)}");

      i {
        font-size: 16px;
        color: rgba($card-7-color, .3);
      }
    }
  }
}
