.profile-following,
.profile-followers {
  .contact-item {
    min-height: 60px;

    .item-content {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 16px;
      padding-left: 66px;
      min-height: 60px;
    }

    .item-options {
      visibility: visible !important;
    }
  }

  .item-content-wrapper {
    .user-image-outer {
      position: absolute;
      top: 10px;
      left: 16px;
      max-width: 40px;
      max-height: 40px;
      width: 100%;
      height: 100%;

      .user-image {
        border-radius: 2px;
      }
    }

    .contact-main {
      padding: 0px;

      &.first-row:last-child {
        min-height: 40px;
        @include align-items(center);
      }

      &.first-row:not(:last-child) {
        margin-bottom: 8px;
      }

      & + .contact-main {
        margin-top: 0px;
      }
    }

    .contact-description {
      padding: 0px;

      .username {
        display: block;
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        text-decoration: none;
        text-transform: lowercase;
        color: $profile-user-content-color;
      }

      .name {
        display: block;
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
        margin-top: 3px;
        color: rgba($profile-user-content-color, .6);
      }

      .about-user {
        white-space: normal;
        color: rgba($profile-user-content-color, .4);
        font-size: 13px;
        line-height: 18px;
      }
    }

    .contact-actions {
      padding: 0px;

      .action-button {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        margin: 0px;

        @include button-outline($profile-contacts-action-button-bg);
      }
    }
  }

  .unfollow-button {
    background-color: $profile-contacts-unfollow-button-bg;
    color: $profile-contacts-unfollow-button-color;
  }
}
